<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          О нас
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">Домой</a>
          </li>

          <li class="sep">/
          </li>

          <li>О нас
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->

<section id="about-us-1" class="h-bg no-padding col-content">
<div class="container-fluid">
<div class="row">

<div class="image-container col-md-6 pull-left onStep" data-animation="fadeInLeft" data-time="0"></div>
  <div class="col-md-6 p-90">
    <div class="sp-padding">
      <h3>
        Добро пожаловать в наш отель
      </h3>

      Лучший отель "Волна" ...

      <p>
        Лучший отель "Волна" ...
      </p>
  </div>
  <div class="clearfix"></div>
 </div>
</div>
</div>
</section>

      <section id="about-us-2" class="h-bg no-padding col-content">
      <div class="container-fluid">
         <div class="row">

          <div class="image-container col-md-6 pull-right onStep" data-animation="fadeInRight" data-time="0"></div>

          <div class="col-md-6 p-60">
           <div class="sp-padding">
            <h3>
              Комфортный отдых
            </h3>

             Лучший отель "Волна" ...

            <p>
              Лучший отель "Волна" ...
            </p>

            </div>
          <div class="clearfix"></div>
         </div>

       </div>
      </div>
      </section>

<!-- section team -->
<section class="whitepage">
<div class="container">
    <div class="row">

    <div class="col-md-12">
          <div class="text-center">
            <h2>НАШ ПЕРСОНАЛ</h2>
            <span class="devider-center"></span>
            <h3>Мы обслуживали</h3>
           </div>
   </div>

   <!-- spacer -->
   <div class="space-double"></div>
   <!-- spacer -->

   <!-- team -->
   <div class="onStep" data-animation="fadeInUp" data-time="300">
   <div class="owl-carousel" id="owl-team">

     <div class="item">
      <div class="team" style="background-image:url(<%= image_path("team/img1.jpg")%>">
            <div class="hovereffect">
            <a href="#">
              <div class="overlay ">
               <div class="content">
               <div class="heading">JOHN SMITH
               <span class="devider-recent"></span>
               </div>
               <div class="subheading">MANAGING DIRECTOR</div>
               <div class="readmore">Read more <i class="fa fa-angle-right"></i></div>
               </div>
              </div>
            </a>
            </div>
      </div>
     </div>

     <div class="item">
      <div class="team" style="background-image:url(<%= image_path("team/img2.jpg")%>">
            <div class="hovereffect">
            <a href="#">
              <div class="overlay ">
               <div class="content">
               <div class="heading">RACHEL KEATING
               <span class="devider-recent"></span>
               </div>
               <div class="subheading">MARKETING MANAGER</div>
               <div class="readmore">Read more <i class="fa fa-angle-right"></i></div>
               </div>
              </div>
            </a>
            </div>
      </div>
     </div>

     <div class="item">
      <div class="team" style="background-image:url(<%= image_path("team/img3.jpg")%>">
            <div class="hovereffect">
            <a href="#">
              <div class="overlay ">
               <div class="content">
               <div class="heading">ROOSEVELT VRIES
               <span class="devider-recent"></span>
               </div>
               <div class="subheading">CEO LUXURY GROUP</div>
               <div class="readmore">Read more <i class="fa fa-angle-right"></i></div>
               </div>
              </div>
            </a>
            </div>
      </div>
     </div>

     <div class="item">
      <div class="team" style="background-image:url(<%= image_path("team/img1.jpg")%>">
            <div class="hovereffect">
            <a href="#">
              <div class="overlay ">
               <div class="content">
               <div class="heading">JOHN SMITH
               <span class="devider-recent"></span>
               </div>
               <div class="subheading">MANAGING DIRECTOR</div>
               <div class="readmore">Read more <i class="fa fa-angle-right"></i></div>
               </div>
              </div>
            </a>
            </div>
      </div>
     </div>

     <div class="item">
      <div class="team" style="background-image:url(<%= image_path("team/img2.jpg")%>">
            <div class="hovereffect">
            <a href="#">
              <div class="overlay ">
               <div class="content">
               <div class="heading">RACHEL KEATING
               <span class="devider-recent"></span>
               </div>
               <div class="subheading">MARKETING MANAGER</div>
               <div class="readmore">Read more <i class="fa fa-angle-right"></i></div>
               </div>
              </div>
            </a>
            </div>
      </div>
     </div>

     <div class="item">
      <div class="team" style="background-image:url(<%= image_path("team/img3.jpg")%>">
            <div class="hovereffect">
            <a href="#">
              <div class="overlay ">
               <div class="content">
               <div class="heading">ROOSEVELT VRIES
               <span class="devider-recent"></span>
               </div>
               <div class="subheading">CEO LUXURY GROUP</div>
               <div class="readmore">Read more <i class="fa fa-angle-right"></i></div>
               </div>
              </div>
            </a>
            </div>
      </div>
     </div>

   </div>
   </div>
   <!-- team end -->

      </div>
     </div>
</section>
<!-- section team end -->
<!-- section about end -->

