Здравствуйте, <%= @reservation.name %>
===============================================
Вы удачно зарезервировали номер на сайте wolna.com.ua!
Ваше даные:
* Имя: <%= @reservation.name %>.
* Фамилия: <%= @reservation.surname %>.
* Тип комнаты: <%= @reservation.type_of_room %>.
* Даты: C <%= @reservation.date_from %> до <%= @reservation.date_to %>.

Спасибо за резервацию, хорошего дня!