<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          КОНТАКТ
        </h1>
      </div>

      <!-- devider -->
      <div class="col-md-12">
        <div class="devider-page">
          <div class="devider-img-right">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <ul class="subdetail">
          <li>
            <a href="/">ДОМОЙ</a>
          </li>

          <li class="sep">/
          </li>

          <li>КОНТАКТ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->

<!-- section contact -->
<section aria-label="contact" class="whitepage">
  <div class="container">
    <div class="row">


        <!-- map -->
        <div class="col-md-12 col-sm-12">
          <div class="onStep" data-animation="fadeInLeft" data-time="300" id="map">
          </div>
        </div>
        <!-- map end -->

      <!-- spacer -->
      <div class="space-double"></div>

      <!-- contact form -->
      <div class="col-md-8 col-xs-12">
      <h2>Заполни форму, и мы сконтактируемся с Вами!</h2>

      <!-- spacer -->
      <div class="space-single"></div>

        <div class="onStep" data-animation="fadeInUp" data-time="300" id="contact">
          <form action="#" class="row" id="form-contact" method="post" name="form-contact">
            <input id="name-contact" name="name" placeholder="Ваше имя" type="text"> <input id="email-contact" name="email" placeholder="Ваш e-mail" type="text">

            <textarea cols="50" id="message-contact" name="message" placeholder="Ваше сообще" rows="4"></textarea>
            <div class="success" id="mail_success">
              Thank you. Your message has been sent
            </div>

            <div class="error" id="mail_failed">
              Error, email not sent
            </div>
            <button class="btn-contact" id="send-contact" type="submit">Отправить</button>
          </form>
        </div>
      <!-- spacer -->
      <div class="space-single"></div>
      </div>
      <!-- contact form end -->

      <!-- address -->
        <div class="col-md-4 col-sm-6">
          <h2>Наш адрес</h2>

          <!-- spacer -->
          <div class="space-single"></div>

          <div class="wrapaddres onStep" data-animation="fadeInUp" data-time="600">
            <address>
              <span>
              ул. Азовская, 191, Геническая горка</span>
              <span><strong>Vodafone :</strong> +38 (050) 830-73-86</span>
              <span><strong>Киевстар :</strong> +38 (067) 752-38-85</span>
              <span><strong>Email :</strong> <a href="mailto:Dmitry.Think@gmail.com">Dmitry.Think@gmail.com</a></span>
              <span><strong>Сайт :</strong> <a href="#">www.wolna.com.ua</a></span>
            </address>
          </div>
        </div>
        <!-- address end -->

    </div>
  </div>
</section>
<!-- section contact end -->